<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/main.css" />     
    <link rel="stylesheet" href="../css/content.css" />
    <title>Content</title>
</head>
<body>
    <h1>Add Content</h1>
    <div id="app">
        <select v-model="publisher">
            <option>publisher1</option>
            <option>publisher2</option>
            <option>publisher3</option>
        </select>
    
        <lable>content name<input type="text" v-model="contentName" v-on:change="fetchThumbnail" /></lable>
        <div class="content-box">
            <div v-for="(thumbnail, index) in thumbnails" :key="index" class="image-box content">
                <img class="thumbnail" v-bind:class="{checked: thumbnail.isActive}" v-if="thumbnail !== null" :src="thumbnail.imageLink" v-on:click="selectThumbnail(thumbnail, index)" ></img>    
                <p>{{ thumbnail.title }}</p>
            </div>
        </div>
        <input type="button" value="save" v-on:click="post" />
    </div>
    <script src="../js/content.js"></script>
</body>
</html>