<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../css/main.css"/>
        <link rel="stylesheet" href="../css/content.css"/>
        <title>Title</title>
    </head>
    <body>
        <div  id="app2">
        <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>
            <h1>h1</h1>

            <input v-model="searchTitle" type="text" />
            <button @click="search">search</button>

            <select v-model="selected" @change="changePublisher">
                <option>all</option>
                <option v-for="(option) in options">
                    {{ option.text }}
                </option>
            </select>

            <a href="/create">add</a>
            <main>
                <div class="content-box">
                    <div v-for="(content, index) in contents" :key="index" class="image-box content" @mouseenter="selectThumbnail(content, index)">
                        <img class="thumbnail" v-bind:class="{checked: selectedContentIndex === index}"  :src="content.imageLink" @click="openModal(content)" @keyup.esc="closeModal()"></img>
                        <p>{{ content.title }}</p>

                    </div>
                    <modal></modal>
                </div>

            </main>
        </div>
        <script type="text/x-template" id="modal-template">
            <transition name="modal">
                <div v-if="active" class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container">
                            <div class="modal-header">
                                <slot name="header">
                                    <h3>edit content</h3>
                                </slot>
                            </div>

                            <div class="modal-body">
                                <slot name="body">
                                    <div class="modal-body-common">
                                        <select v-model="editContent.publisher">
                                            <option v-for="(option) in options">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="modal-body-common">
                                        <input v-model="editContent.title" type="text" size="40" />
                                    </div>
                                    <div class="modal-body-image">
                                        <img :src="editContent.imageLink" alt="content" border="1"></img>
                                    </div>
                                </slot>
                            </div>

                            <div class="modal-footer">
                                <slot name="footer">
                                    <button class="button" @click="update(editContent)">update</button>
                                    <button class="button" @click="del(editContent)">delete</button>
                                    <button class="button" @click="close">close</button>
                                </slot>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </script>
        <script type="module" src="../js/index.js"></script>
    </body>
</html>